.article_medium_body {
  display: flex;
  height: 100%;
  min-width: 350px;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
}

@media screen and (max-width: 350px) {
  .article_medium_body {
    width: 100vw;
  }
}
.article_medium {
  height: 298.85px;
  width: 340px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgb(255, 255, 255);
  margin-top: 25px;
}
.article_medium .article_top {
  height: 220px;
  margin-top: 0px;
  width: 340px;
}
.article_medium .article_top img {
  height: 220px;
  width: 340px;
}
.article_medium .article_bottom {
  height: 98.85px;
  background-color: rgb(0, 0, 0);
}

.article_bottom h5 {
  padding-top: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(244, 247, 246);
  width: 95%;
  margin-left: 5px;
}
.article_bottom h5:hover {
  text-decoration: underline;
}

.article_bottom h6 {
  padding-top: 3px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(85, 83, 83);
  width: 95%;
  margin-left: 5px;
}
@media screen and (max-width: 400px) {
  .article_medium {
    height: 290px;
    width: 90vw;
  }

  .article_medium .article_top {
    height: 200px;
    margin-top: 0px;
    width: 90vw;
  }
  .article_medium .article_top img {
    height: 200px;
    width: 90vw;
  }
  .article_medium_body {
    width: 100vw;
  }
}
@media screen and (max-width: 1400px) {
  .article_medium {
    margin-right: 15px;
    margin-left: 15px;
  }
}
