@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap");
.article_main {
  min-width: 450px;
  max-width: 550px;
  /* height: 120px; */
  /* min-height: 120px; */
  background-color: rgb(5, 5, 5);
  margin-bottom: 5px;
  color: aliceblue;
  border-bottom: rgb(255, 255, 255) dotted 1px;
  margin-top: 30px;

  display: flex;
}
.article_main_left img {
  width: 100%;
  height: 125px;
  background: linear-gradient(90deg, #f7c626 15%, #f68c2f 40%, #e5127d 85%);
}
.article_main_left {
  width: 200px;
  background: linear-gradient(90deg, #f7c626 15%, #f68c2f 40%, #e5127d 85%);
}

.article_main_right {
  min-width: 30%;
  max-width: 60%;
  flex: 1;
}

.article_main_right h2 {
  margin-left: 8px;
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0px;
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
  color: #ffffff;
  font-weight: 400;
}

.article_main_right h2:hover {
  text-decoration: white 1px solid underline;
  cursor: pointer;
}
.article_main_right h5 {
  font-weight: 500;
  font-size: 15px;
  margin-top: 5px;
  color: rgb(85, 83, 83);
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .article_main {
    min-width: 350px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .article_main {
    height: 100px;
    width: auto;
    margin-top: 15px;
    /* background: chartreuse; */
  }
  .article_main_left img {
    width: 100%;
    height: 90px;
  }
  .article_main_left {
    width: 150px;
    height: 91px;
  }
  .article_main_right h2 {
    font-size: 14px;
  }
  .article_main_right h5 {
    margin-top: 2px;
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .article_main {
    height: 90px;
  }
  .article_main_left img {
    width: 100%;
    height: 80px;
  }
  .article_main_left {
    width: 130px;
    height: 81px;
  }
  .article_main_right h2 {
    font-size: 13px;
  }
  .article_main_right h5 {
    margin-top: 2px;
    font-size: 12px;
    width: auto;
  }
}

@media screen and (max-width: 360px) {
  .article_main {
    min-width: 300px;
    max-width: 90vw;
    /* margin-left: 10px; */
    align-self: center;
    display: flex;
  }

  .article_main_left {
    width: 130px;
    height: 81px;
    background-color: rgb(5, 5, 5);
  }
  .article_main_left img {
    width: 100%;
    height: 80px;
  }
  .article_main_right h2 {
    font-size: 11px;
  }
  .article_main_right h5 {
    font-size: 10px;
  }
}

.title_trending {
  font-family: "KoHo", sans-serif;
  font-size: 12px;
  align-items: center;
  display: flex;
  text-align: center;
}

.article_title {
  display: flex;

  /* background-color: rgb(68, 159, 240); */
  height: 140px;

  max-width: 550px;
}

.txt_title {
  font-size: 15px;
  height: 140px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  width: 350px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: aqua; */
}

.txt_title h2 {
  text-align: center;
  /* background-color: yellow; */
  max-width: 340px;
  font-size: 18px;
  font-family: "KoHo", sans-serif;
  color: rgb(255, 255, 255);
}

.txt_title h2:hover {
  text-align: center;
  /* background-color: yellow; */
  font-family: "KoHo", sans-serif;
  color: rgb(77, 76, 76);
}

.title_trending {
  font-size: 10px;
}
/* .title_trending h1 {
  background: linear-gradient(to right, #30cfd0 0%, #5700c283 100%);
  background: linear-gradient(to right, #df6e12 0%, #b41291 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@media screen and (max-width: 600px) {
  .article_title {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  .txt_title {
    /* margin-top: -35px; */
    /* background-color: rgb(18, 240, 173); */
    width: fit-content;
    height: 60px;
  }
  .title_trending {
    /* background-color: tan; */
    /* max-width: 100px; */
  }
}
