@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap");

@media only screen and (min-width: 920px) {
  .image {
    margin-top: -30px;
    margin-left: -150px;
    /* background-color: red; */
  }
  .para2_quote1 h2 {
    /* color: red; */
    margin-top: 15px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .ytvideo {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .image img {
    /* min-width: 750px;
    min-height: 500px; */
    /* background-color: red; */
    width: 750px;
    height: 500px;
  }
  .image1 {
    margin-top: 20px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-left: -150px;
  }
}

.image1 {
  position: relative;
  display: flex;
  justify-content: center;
}
.image1 img {
  width: 750px;
  height: 500px;
  margin-left: 0px;
}

.article_top {
  margin-top: 30px;
  text-align: start;
  width: 900px;
  font-family: "Roboto", sans-serif;
  height: auto;
}

.article_top h1 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  margin-top: 10px;
}
.article_top h3 {
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(218, 0, 170);
  font-weight: 400;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article_description {
  margin-top: 10px;
  /* background-color: red; */
  text-align: start;
  width: 750px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin-left: -150px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.article_description h4 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(20, 20, 20);
  margin-top: 0px;
  font-family: "Nunito Sans", sans-serif;
}

.social_icons {
  margin-top: 9px;
  display: flex;
}

.article_top h4 {
  position: relative;
  margin-top: 17px;
  font-weight: 300;
}

.icon2 {
  position: relative;
  margin-left: 5px;
}
.icon3 {
  position: relative;
  margin-left: 5px;
}

@media only screen and (max-width: 1000px) {
  .image {
    margin-top: -35px;
  }
}

@media only screen and (max-width: 920px) {
  .image1 {
    margin-top: 10px;
    /* margin-bottom: 10px; */
    display: flex;
    flex-direction: column;
    text-align: start;
    /* margin-left: -150px; */
  }

  .ytvideo {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .para2_quote1 h2 {
    /* color: red; */
    margin-top: 10px;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .article_description {
    margin-top: 40px;
    /* background-color: red; */
    margin-left: 0px;
  }
  .image_credit {
    margin-left: 35px;
  }
  .image h4 {
    margin-left: 5px;
  }
  .article_top {
    width: 97vw;
    margin-top: 40px;
  }
  .image img {
    /* margin-left: -50px; */
    width: 100vw;
    height: 60vw;
  }

  .image {
    width: 100%;
    position: relative;
    height: 60vw;
  }
  .article_top h1 {
    font-size: 30px;
    letter-spacing: 0px;
  }

  .article_top h4 {
    margin-top: 0px;
  }
  .article_top h3 {
    font-size: 15px;
  }
  .social_icons {
    margin-top: 10px;
  }
  .article_description {
    width: 95vw;
  }
  .article_description h4 {
    font-size: 17px;
  }
  .article_description2 {
    margin-top: 5px;
  }
  .image1 {
    position: relative;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    height: 60vw;
    width: 100vw;
    margin-bottom: 20px;

    /* margin-left: -20px; */
    /* background-color: rgb(122, 32, 219); */
  }
  .image1 img {
    width: 100vw;
    margin-top: 20px;

    height: 60vw;
  }
  .image1 h4 {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 300;
  }
}

@media only screen and (max-width: 490px) {
  .image {
    position: relative;
  }
}

@media only screen and (max-width: 410px) {
  .image {
    position: relative;
    margin-top: -45px;
  }
}
.ytvideo iframe {
  height: 35vw;
}

@media only screen and (max-width: 900px) {
  .ytvideo iframe {
    height: 65vw;
  }
}
.detail_video {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.article_description h2 {
  font-family: "KoHo", sans-serif;
  color: rgb(218, 0, 170);
  padding-left: 8px;
  border-left: rgb(218, 0, 170) solid 3px;
}

.image1 h4 {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 300;
}
.tweet_container {
  width: 550px;
}

@media only screen and (max-width: 600px) {
  .tweet_container {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .article_description2 h2 {
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
