@import url("https://fonts.googleapis.com/css2?family=Oi&family=Teko:wght@300&display=swap");
.footer {
  height: 170px;
  width: 100%;

  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.footer_sec1 h1 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 25px;
}
.footer_sec1 h4 {
  width: 200px;
  color: rgb(248, 47, 171);
  font-weight: 300;
}

.footer_sec2 h1 {
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer_sec2 h4 {
  font-weight: 300;
  color: rgb(248, 47, 171);
}
.footer_sec2 h2 {
  font-weight: 300;
}

.footer_sec3 h1 {
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer_sec3 h4 {
  font-weight: 300;
  color: rgb(248, 47, 171);
}
.footer_sec3 h2 {
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer_sec4 h1 {
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer_sec4 h4 {
  font-weight: 300;
  color: rgb(248, 47, 171);
}

.footer_sec5 {
  height: 95px;
  /* background: rebeccapurple; */
}
.footer_sec5 h1 {
  font-size: 25px;
  font-weight: 300;
  color: rgb(255, 255, 255);
}

.footer_sec5 h4 {
  font-weight: 300;
  color: rgb(248, 47, 171);
}

.main_section_1 {
  width: 50%;
  display: flex;
  /* background: red; */
  justify-content: space-evenly;
  flex-direction: row;
}

.main_section_2 {
  width: 50%;
  display: flex;
  /* background: red; */
  justify-content: space-evenly;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .main_section_1 {
    width: 70%;
    align-items: center;
    display: flex;
    /* background: rgb(127, 238, 22); */
    justify-content: space-between;
    /* flex-direction: column; */
  }
  .main_section_2 {
    align-items: center;
    width: 70%;
    display: flex;
    /* background: rgb(127, 238, 22); */
    justify-content: space-between;
    /* flex-direction: column; */
  }
  .footer {
    flex-direction: column;
    height: 270px;
  }
}
@media screen and (max-width: 400px) {
  .main_section_1 {
    width: 100%;
    align-items: flex-start;
    display: flex;
    /* background: rgb(202, 101, 101); */
    justify-content: start;
    padding-left: 10px;
    flex-direction: column-reverse;
  }
  .main_section_2 {
    width: 100%;
    align-items: flex-start;
    display: flex;
    /* background: rgb(202, 101, 101); */
    justify-content: start;
    padding-left: 10px;
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    height: 420px;
  }
  .footer_sec1 h1 {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 25px;
    margin-top: 15px;
    text-align: start;
  }

  .footer_sec4 h1 {
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 25px;

    margin-top: 15px;
    text-align: start;
  }
  .footer_sec1 h1 {
    font-size: 15px;
  }
  .footer_sec2 h1 {
    font-size: 15px;
  }
  .footer_sec3 h1,
  h2 {
    font-size: 15px;
  }
  .footer_sec4 h1 {
    font-size: 15px;
  }
  .footer_sec5 h1 {
    font-size: 15px;
  }
}
/* 
.social_icon {
  width: 30px;
  margin-top: 5px;
  height: 30px;
}

.social_icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social_icon i {
  color: aliceblue;
  background: red;
  width: 50px;
  height: 50px;
}

.logo_name h1 {
  color: rgb(190, 3, 159);
  color: rgb(219, 6, 130);
  font-family: "Oi", cursive;
  font-size: 95px;
  font-family: "Teko", sans-serif;
}

.txt {
  color: rgb(255, 255, 255);
  display: flex;
  text-decoration: solid wheat 3px;

}

.txt h4 {
  margin: 5px;
  text-decoration: solid wheat 1px;
}

.txt h4:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.footer_right {
  display: flex;
  flex-direction: column;
}

.txt h4 {
  text-align: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .logo_name h1 {
    color: rgb(190, 3, 159);
    color: rgb(219, 6, 130);
    font-family: "Oi", cursive;
    font-size: 65px;
    font-family: "Teko", sans-serif;
  }
}
@media only screen and (max-width: 500px) {
  .footer {
    flex-direction: column-reverse;
  }
} */
