@import url("https://fonts.googleapis.com/css2?family=Oi&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap");
.box {
  width: 100%;
  background: rgb(255, 255, 255);
}

.box h1 {
  text-align: start;
  border-bottom: 2px solid rgb(0, 0, 0);
  /* border: 2px solid black; */
  width: 244px;
  font-size: 45px;
  font-weight: 500;
  font-family: "Teko", sans-serif;
  /* font-family: "Rajdhani", sans-serif; */

  margin-bottom: 10px;
}

.box h4 {
  text-align: start;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.box h4:hover {
  color: rgb(240, 27, 240);
  color: #e2127a;
  cursor: pointer;
}

.anchor-title {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 920px) {
  .box h1 {
    margin-left: 20px;

    /* background-color: rosybrown; */
  }
  .box h4 {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .box h1 {
    font-size: 20px;
    width: 190px;
    margin-left: 10px;

    /* background-color: rosybrown; */
  }
}
