.video_large video {
  outline: none;
}

.video_large {
  margin-top: 20px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 920px) {
  .video_large {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rosybrown;
    flex-direction: column;
  }
  .video_large video {
    width: 100%;
  }
}
