@media screen and (max-width: 1000px) {
  .whitepart_main {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
}

.whitepart_main {
  width: 90vw;
}

@media screen and (max-width: 600px) {
  .whitepart_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: auto;
  }
  .whitepart_main_top {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .whitepart_main_bottom {
    justify-content: center;
    align-items: center;
  }
}
